@import url(global.css);

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 4rem;
    background-color: var(--color-dark);
    color: var(--color-light);
    
    .intro__title{
        font-size: var(--text-2xl);
        padding: 0 1rem;
        border-left: 2px solid var(--color-light);
        border-right: 2px solid var(--color-light);

    }
    .intro__text{
        font-size: var(--text-base);
    }
}

.contacts {
    .contacts__title {
        font-size: var(--text-xl);
        text-transform: uppercase;
        padding: 2rem;
        text-align: center;
    }
    .contacts__container {
        display: grid;
        grid-template: auto auto auto / auto;
        gap: 2rem;
        padding: 1rem;

        @media (min-width: 768px) {
            grid-template: auto / auto auto auto;
        }

        .contacts__option {
            .contacts__visual {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3rem;
                background-color: var(--gray-200);

                .contacts__icon {
                    width: 8rem;
                    height: 8rem;
                    color: var(--color-dark);
                }
            }
            .contacts__subtitle {
                position: relative;
                font-size: var(--text-md);
                padding: 0.5rem 0;
                
                &::after {
                    content: ""; 
                    position: absolute; 
                    width: 4rem;
                    bottom: 0;
                    left: 0;
                    border-bottom: 1px solid var(--color-dark);
                }
            }

            .contacts__description {
                font-size: var(--text-sm);
                margin-top: 0.5rem;

                .highlight{
                    text-decoration: underline;
                }
                
            }
        }
    }
}

.questions {
    .questions__title {
        font-size: var(--text-xl);
        text-transform: uppercase;
        padding: 2rem;
        text-align: center;
    }
    .questions__content {
        padding: 1rem;

        .questions__item {

            &::details-content {
                transition: opacity 0.4s ease, transform 0.4s ease;
                opacity: 0;
                transform: translateY(-10px);
            }

            &[open]::details-content {
                opacity: 1;
                transform: translateY(0);
            }

            &[open] .questions__icon {
                transform: rotate(0.5turn); 
            }

            .questions__header {
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: space-between;
                padding: 0.8rem 0.3rem;
                border-bottom: 1px solid var(--color-dark);
                user-select: none;

                .questions__subtitle {
                    font-size: var(--text-base);
                    font-weight: bold;
                }
                .questions__icon {
                    width: 2rem;
                    height: 2rem;
                    color: var(--gray-800);
                    transition: transform var(--transition);
                }
            }
            .questions__text {
                padding: 1rem 2rem;
            }
        }
    }
}