:root {
    --color-primary: #FF7F50;    
    --color-dark: #1A1A1A;
    --color-black: #000000;       
    --color-light: #FFFFFF;
    
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-500: #6C757D;
    --gray-800: #343A40;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.25rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 3rem;


    --font-main: 'Roboto', sans-serif;

    --radius-sm: 4px;
    --radius-md: 8px;
    
    --transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--color-black);
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

main{
    padding-top: 7rem;
}

.header {
    display: flex;
    position: fixed;
    max-width: 1500px;
    margin: auto;
    justify-content: space-between;
    height: 7rem;
    padding: 0 1rem;
    align-items: center;
    background-color: var(--color-light);
    z-index: 1000;
    width: 100%;
    transition: height var(--transition);

    .header__logo{
            width: 6rem;
            height: 6rem;
    }
    .header__nav{
        .header__list{
            display: flex;
            gap: 0.5rem;

            .header__item{
                color: var(--gray-800);
                transition: transform var(--transition), color var(--transition);
                &:hover{
                    transform: scale(1.2);
                    color: var(--color-primary);

                }
                &:focus-visible{
                    transform: scale(1.2);
                    color: var(--color-primary);
                }
                .header__link{
                    display: flex;
                    flex-direction: column;

                    .header__icon{
                        width: var(--text-xl);
                        height: var(--text-xl);
                        margin: auto;
                        color: inherit;
                    }
                    .header__label{
                        font-size: var(--text-xs);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.header--scrolled {
    height: 4rem;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    
    .header__logo {
        width: 4rem; 
        height: 4rem;
    }

    .header__label{
        display: none;
    }
}

.footer {
    background-color: var(--color-dark);
    color: var(--color-light);

    .footer__top-button {
        cursor: pointer;
        display: flex;
        width: 100%;
        background-color: var(--color-primary);
        color: var(--color-light);
        justify-content: center;
        align-items: center;
        padding: .5rem 0;
        border: 0;
        transition: transform var(--transition);

        &:hover{
            text-decoration: underline;
            .footer__btn-icon{
                transform: scale(1.3);
            }
        }
        &:focus-visible{
            text-decoration: underline;
            .footer__btn-icon{
                transform: scale(1.3);
            }
        }

        .footer__btn-label {
            font-size: var(--text-md);
            
        }
        .footer__btn-icon {
            width: var(--text-xl);
            height: var(--text-xl);
            transition: transform var(--transition);
        }

        
    }

    .footer__group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        .footer__section {
            padding: 1rem;
            .footer__title {
                font-size: var(--text-base);
                text-transform: uppercase;
                border-bottom: 1px solid var(--gray-200);
            }
            .footer__info-nav {
                .footer__list{
                    .footer__item{
                        .footer__link{
                            font-size: var(--text-sm);
                            font-weight: normal;
                        }
                    }
                }
            }
            .footer__social-nav{
                display: flex;
                gap: 0.5rem;
                .footer__link{
                    padding: 0.25rem;
                    transition: color var(--transition);

                    &:hover{
                        color: var(--color-primary);
                    }
                    &:focus-visible{
                        color: var(--color-primary);
                    }
                    .footer__icon{
                        width: var(--text-xl);
                        height: var(--text-xl);
                    }
                
                }
            }
        }
    }

    .footer__copy {
        font-size: var(--text-xs);
        text-align: center;
        text-transform: uppercase;
    }
}