@import url(global.css);

.slider {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
    background-color: var(--gray-100);

    .slider__control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background var(--transition);

        &:hover {
            background: var(--color-primary);
            .slider__icon { color: var(--color-light); }
        }

        .slider__icon {
            width: 1.5rem;
            height: 1.5rem;
            color: var(--color-dark);
            transition: color var(--transition);
        }
    }

    .slider__control--prev { left: 1rem; }
    .slider__control--next { right: 1rem; }

    .slider__wrapper {
        width: 100%;
        margin: 0 auto;

        .slider__track {
            display: flex;
            transition: transform 0.5s ease-in-out;

            .slider__item {
                flex: 0 0 100%;
                display: flex;
                flex-direction: column-reverse;
                gap: 5rem;
                align-items: center;
                padding: 1rem;
                background: var(--background-img) no-repeat center;
                background-size: cover;

                @media (min-width: 768px) {
                    flex-direction: row;
                    text-align: left;
                    gap: 3rem;
                }

                .slider__content {
                    width: 90%;
                    background: var(--color-light);
                    padding: 1rem;
                    margin-top: 20rem;
                    border-radius: var(--radius-md);
                    opacity: 0;
                    animation: fadeInUp 0.4s ease-out forwards;
                    animation-delay: 0.5s;

                    @media (min-width: 768px) {
                        width: fit-content;
                        margin: 5rem 0 ;
                        margin-left: 1rem;
                    }
                    .slider__subtitle {
                        font-size: var(--text-sm);
                        color: var(--color-primary);
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .slider__title {
                        font-size: var(--text-2xl);
                        color: var(--color-dark);
                        line-height: 1;
                    }
                    .slider__price {
                        font-size: var(--text-md);
                        color: var(--gray-500);
                        margin-bottom: 1.5rem;
                    }
                    .slider__btn {
                        display: inline-block;
                        padding: 0.8rem 2rem;
                        background-color: var(--color-primary);
                        color: var(--color-light);
                        border-radius: var(--radius-sm);
                        font-weight: bold;
                        transition: filter var(--transition), scale var(--transition);

                        &:hover { filter: brightness(1.1); scale: 1.05; }
                    }
                }
                .slider__image {
                    width: 100%;
                    max-width: 500px;
                    object-fit: contain;
                    margin-top: 1rem;
                }
            }
            .slider__item--best-E-car{--background-img: url(../assets/imgs/best-eletric-car.webp)}
            .slider__item--economic-car{--background-img: url(../assets/imgs/economic-car.webp)}
            .slider__item--auto-pilot{--background-img: url(../assets/imgs/auto-pilot.webp)}
            .slider__item--car-wheel{--background-img: url(../assets/imgs/car-wheel.webp)}
        }

        .slider__pagination {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 2rem;

            .slider__dot-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                .slider__radio {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 3rem;
                    height: 0.5rem;
                    background: var(--gray-200);
                    border: 1px solid var(--gray-500);
                    border-radius: 4px;
                    cursor: pointer;
                    accent-color: var(--color-primary);
                    transition: scale var(--transition);

                    &:checked{
                        background-color: var(--color-primary);
                        scale: 1.1;
                    }
                }
                .slider__label {
                    font-size: var(--text-xs);
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: var(--gray-500);
                    
                    &:hover { color: var(--color-primary); }
                }
            }
        }
    }
}


.categories {
    display: grid;
    grid-template: auto auto auto / auto;
    gap: 1rem;
    padding: 1rem 1rem;
    text-align: center;

    @media (min-width: 768px) {
        grid-template: auto / auto auto auto;
    }

    .categories__article {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background: var(--background-img) no-repeat center;
        background-size: cover;
        padding: 1.5rem;
        color: var(--color-light);
        font-weight: bold;
        height: 22rem;
        border-radius: var(--radius-sm);
    
        .categories__texts{
            font-weight: bolder;

            .categories__title {
                font-size: var(--text-lg);
                text-transform: uppercase;

            }
            .categories__description {
                font-size: var(--text-xs);
            }
        }

        .categories__link {
            font-size: var(--text-base);
            color: var(--color-light);
            width: 100%;
            margin: auto auto 0 auto;
            border: 1px solid var(--color-light);
            border-radius: var(--radius-md);
            padding: 0.625rem 0.938rem;
            transition: background var(--transition);

            &:hover {
                color: var(--color-dark);
                background-color: var(--gray-100);
            }
            &:focus-visible {
                color: var(--color-dark);
                background-color: var(--gray-100);
            }
        }
    }
    .categories__article--fuel{ --background-img: url(../assets/imgs/fuel-car.webp);}
    .categories__article--utility{ --background-img: url(../assets/imgs/utility-car.webp);}
    .categories__article--eletric{ --background-img: url(../assets/imgs/eletric-car.webp);}
}

.news {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray-200);
    margin: 1rem;
    padding: 3rem 4rem;
    border-radius: var(--radius-md);

    @media (min-width: 768px) {
            flex-direction: row;
            text-align: left;
            align-items: center;
            justify-content: space-between;
        }

    .news__text{
        font-size: var(--text-lg);
        text-align: center;
    }
    .news__link{
        padding: 0.625rem 0.938rem;
        color: var(--color-dark);
        font-size: var(--text-base);
        font-weight: bolder;
        border: 1px solid var(--color-dark);
        border-radius: var(--radius-sm);
        text-align: center;
        transition: background-color var(--transition);

        &:hover{
            background-color: var(--color-primary);
            color: var(--color-light);
        }
        &:focus-visible{
            background-color: var(--color-primary);
            color: var(--color-light);
        }
    }
}

.backstory {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 1rem;

    @media (min-width: 768px) {
        gap: 4rem;
    }

    .backstory__title{
        font-size: var(--text-2xl);
        text-align: center;
        text-transform: uppercase;
        color: var(--color-light);
        border-bottom: 2px solid var(--color-light);
    }

    .backstory__article{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: 768px) {
            flex-direction: row;
            text-align: left;
            justify-content: space-between;

            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }

        .backstory__img {
            background-image: var(--background-img);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 10rem;
            border-radius: var(--radius-md);

            @media (min-width: 768px) {
                width: 100%;
                height: auto;
            }
        }

        .backstory__img--quality{--background-img: url(../assets/imgs/quality.webp)}
        .backstory__img--diversity{--background-img: url(../assets/imgs/diversity.webp)}
        .backstory__img--sustainability{--background-img: url(../assets/imgs/sustainability.webp)}

        .backstory__txt-area{
            border-left: 1px solid var(--gray-100);
            padding-left: 0.5rem;
            text-align: left;

            @media (min-width: 768px) {
                width: 80%;
            }

            .backstory__titles{
                font-size: var(--text-lg);
                text-transform: uppercase;
            }
            .backstory__text{
                font-size: var(--text-base);
                text-align: justify;
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}