@import url(global.css);

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: var(--color-dark);

    .intro__text {
        font-size: var(--text-lg);
        color: var(--color-light);
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
    }
}

.search {
    background-color: var(--color-primary);
    padding: 0.5rem 2rem;
    
    .search__bar {
        display: flex;
        align-items: center;
        background: var(--gray-200);
        width: 90%;
        margin: auto;
        border: 3px solid var(--gray-500);
        border-radius: var(--radius-md);
        transition: border-color var(--transition);

        &:focus-within {
            border-color: var(--gray-800);
            background-color: var(--gray-100);

            .search__btn {
                .search__icon {
                    color: var(--color-primary);
                }
            }
        }

        .search__input {
            all: unset;
            width: 100%;
            padding: 0.5rem;
            color: var(--gray-800);
            border-radius: var(--radius-md);
            
            &::placeholder {
                color: var(--gray-500);
            }
        }
        .search__btn {
            all: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .search__icon {
                width: 2.2rem;
                height: 2.2rem;
                color: var(--gray-500);
                transition: color var(--transition);
            }
        }
    }
}

.sale {
    display: grid;
    grid-template: auto / auto;
    background-color: var(--gray-200);
    padding: 1rem;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template: auto / auto auto auto;
    }
    .sale__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--color-light);
        text-align: center;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.02);
        border-radius: var(--radius-sm);
        transition: transform var(--transition), box-shadow var(--transition);

        &:hover {
            transform: scale(1.01);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        }

        .sale__img {
            width: 100%;
            aspect-ratio: 1/1; 
            border-radius: var(--radius-sm); 
            overflow: hidden;
        }
        .sale__title {
            font-size: var(--text-md);
            font-weight: bold;
            text-transform: uppercase;
        }
        .sale__text {
            font-size: var(--text-md);
            font-weight: bold;

            .sale__highlight {
                font-size: var(--text-sm);
                text-decoration: line-through;
                text-decoration-color: red;
            }
        }
        .sale__link {
            padding: 0.5rem;
            border: 2px solid var(--color-primary);
            border-radius: var(--radius-md);
            transition: background var(--transition);

            &:hover {
                background: var(--color-primary);
                color: var(--color-light);
            }
        }
    }
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: var(--gray-200);

    .message__container {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        color: var(--gray-500);
        border: 1px dashed var(--gray-500);
        border-radius: var(--radius-sm);

        .message__text {
            font-size: var(--text-base);
        }
        .message__icon {
            width: 3rem;
            height: 3rem;
        }
    }
}