@import url(global.css);

:root {
    --color-primary: #FF7F50;    
    --color-dark: #1A1A1A;
    --color-black: #000000;       
    --color-light: #FFFFFF;
    
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-500: #6C757D;
    --gray-800: #343A40;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.25rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-2xl: 3rem;
    --text-enormous: 5rem;


    --font-main: "Work Sans", sans-serif;

    --radius-sm: 5px;
    --radius-md: 10px;
    
    --transition: 0.3s ease;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    gap: 0.5rem;
    padding: 0.5rem;

    .navigation__btn {
        width: 100%;
        border: 0;
        border-radius: var(--radius-sm);
        background-color: var(--gray-800);
        transition: opacity var(--transition);

        .navigation__icon {
            width: 3rem;
            height: 3rem;
            color: var(--gray-200);
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
    .navigation__btn--active {
        opacity: 0.5;
    }

    .navigation__list {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        animation: fadeInDown 0.4s ease-out forwards;

        @media (min-width: 768px) {
            display: flex;
            animation: none;
            flex-direction: row;
        }

        .navigation__item {
            width: 100%;
            border: 0;
            
            .navigation__link {
                display: block;
                width: 100%;
                padding: 0.5rem;
                border-radius: var(--radius-sm);
                background-color: var(--gray-800);
                text-align: center;
                font-size: var(--text-md);
                color: var(--color-light);
                transition: opacity var(--transition);

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 14rem 0;
    text-transform: uppercase;
    color: var(--color-light);
    background: url(../assets/imgs/car-coloredbg.webp) no-repeat center;
    background-size: cover;
    box-shadow: inset 0 -5rem 100px rgba(0, 0, 0, 0.8);

    .intro__mark {
        font-size: var(--text-md);

        @media (min-width: 768px) {
            font-size: var(--text-lg);
        }
    }

    .intro__title {
        font-size: var(--text-2xl);

        @media (min-width: 768px) {
            font-size: var(--text-enormous);
        }
    }
}

.slider {
    position: relative;
    overflow: hidden;
    gap: 2rem;
    background-color: var(--gray-100);
    border-bottom: 1px solid var(--color-black);

    .slider__title {
        padding: 0.5rem;
        font-size: var(--text-xl);
        background-color: var(--color-black);
        color: var(--color-light);
        text-align: center;
        box-shadow: 0px 1px 5px 5px var(--color-black);
    }

    .slider__control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--transition);

        &:hover {
            background-color: var(--gray-800);
            .slider__icon { color: var(--color-light); }
        }

        .slider__icon {
            width: 1.5rem;
            height: 1.5rem;
            color: var(--color-dark);
            transition: color var(--transition);
        }
    }

    .slider__control--prev { 
        left: 0;
        border-radius: 0 50% 50% 0;
    }
    .slider__control--next { 
        right: 0;
        border-radius: 50% 0 0 50%;
    }

    .slider__track {
        display: flex;
        transition: transform 0.5s ease-in-out;

        .slider__item {
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 5rem;

            @media (min-width: 1000px) {
                flex-direction: row;
            }

            .slider__img {
                max-width: 75%;
                width: auto;
                aspect-ratio: 1/0.43;
            }
            .slider__textual {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 1rem;

                .slider__subtitle {
                    font-size: var(--text-lg);
                }

                .slider__price {
                    font-size: var(--text-md);
                    font-weight: bold;
                }

                .slider__text {
                    font-size: var(--text-sm);
                    text-align: justify;
                }
            }
        }
    }
}

.design {
    display: grid;
    grid-template: auto auto auto / auto;
    padding: 5rem 1rem;
    gap: 1rem;
    background-color: var(--color-dark);


    .design__textual {
        grid-column: 1;
        grid-row: 2;
        color: var(--color-light);
        padding: 0 1rem;

        .design__title {
            font-size: var(--text-xl);
        }

        .design__text {
            font-size: var(--text-md);
            text-align: justify;
            height: 100%;
            width: 100%;
        }
    }

    .design__sm-img {
        width: 100%;
        border-radius: var(--radius-md);
    }

    .design__img {
        width: 100%;
        border-radius: var(--radius-md);
    }

    @media (min-width: 768px) {
        grid-template: auto auto  / auto auto;
        .design__textual { grid-row: 1 / span 2;}
        .design__sm-img { grid-column: 2;}
        .design__img { grid-column: 2; object-fit: cover;}

    }
}

.technology {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--gray-200);

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3rem auto auto auto;
        .technology__title { grid-column: 1 / span 3;}        
    }

    .technology__title {
        text-align: center;
        padding: 1rem;
        font-size: var(--text-lg);
        color: var(--color-black);
    }

    .technology__card {
        position: relative;
        height: 30rem;
        overflow: hidden;
        border-radius: var(--radius-md);
        box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);

        .technology__subtitle {
            position: absolute;
            top: 0rem;
            margin: 1rem;
            font-size: var(--text-xl);
            text-transform: uppercase;
            color: var(--color-light);
        }

        .technology__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .technology__link {
            display: flex;
            position: absolute;
            bottom: 0rem;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: var(--radius-md);
            background-color: var(--gray-100);
            transition: scale var(--transition);

            &:hover {
                scale: 1.1;
                filter: brightness(90%);
            }

            .technology__icon {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.specifications {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;

    .specifications__row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
        border-top: 1px solid var(--gray-500);

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .specifications__key {
            width: 35%;
            font-size: var(--text-sm);
            color: var(--gray-500);
            text-transform: uppercase;
            text-align: left;
        }

        .specifications__value {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .specifications__text {
                font-size: var(--text-sm);
                text-transform: capitalize;

                .specifications__label {
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }
}

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--gray-100);
    border: 2px solid var(--gray-800);
    border-radius: var(--radius-md);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .purchase__info {
        line-height: 1.3;

        .purchase__title {
            font-size: var(--text-base);
            text-transform: capitalize;
        }

        .purchase__price {
            font-size: var(--text-xl);
            font-weight: bold;
            text-transform: lowercase;
        }

        .purchase__sm-text {
            font-size: var(--text-xs);
            text-transform: uppercase;
        }
    }

    .purchase__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        padding-top: 1rem;
        border-top: 1px solid var(--color-dark);

        @media (min-width: 768px) {
            flex-direction: column;
            padding: 0;
            padding-left: 1rem;
            border: 0;
            border-left: 1px solid var(--color-dark);
        }

        .purchase__btn {
            padding: 0.5rem;
            border: 1px solid var(--color-black);
            border-radius: var(--radius-sm);
            text-align: center;
            transition: background-color var(--transition);

            &:hover {
                background-color: var(--color-black);
                color: white;
            }
        }
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}